    // .example-container {
    //     width: 200px;
    //     margin: 10px;
    //     border: 1px solid #555;
    //     width: 100%;
    //     border-left: 2px solid #020202;
    //     border-right: 2px solid #020202;
    //     border-bottom: 2px solid #020202;
    //     height: 100%;
    // }
    // .chatboxtitle {
    //     border: 1px solid #555;
    //     border-left: 2px solid #020202;
    //     border-right: 2px solid #020202;
    //     border-bottom: 2px solid #020202;
    //     border-top: 2px solid #020202;
    //     margin-top: 5px;
    //     margin-left: 5px;
    //     margin-right: 5px;
    //     margin-bottom: 2px;
    // }
    // .messcontent {
    //     width: 85%;
    //     height: 75%;
    //     border-left: 2px solid #020202;
    //     border-right: 2px solid #020202;
    //     border-bottom: 2px solid #020202;
    //     border-top: 2px solid #020202;
    //     margin-left: 10px;
    // }
    // .game-play {
    //     width: 80%;
    //     height: 200%;
    //     z-index: 1;
    // }
    // #new-game {
    //     text-align: center;
    //     left: 50%;
    //     top: 50%;
    //     color: red;
    // }
    // .button-game-play {
    //     flex-direction: column;
    //     margin-top: 30%;
    //     margin-left: 0%;
    // }
    // #new-game-button {
    //     width: 200px;
    //     height: 200px;
    //     font-size: 25px;
    // }
    // .inputform {
    //     display: flex;
    //     flex-direction: row;
    //     padding-left: 10px;
    //     align-items: center;
    // }
    // .iconsend {
    //     background-color: blanchedalmond;
    //     margin-top: 8px;
    //     color: navy;
    //     border: none;
    // }