<div style="background-color: black;height: 100%;">
    <mat-drawer-container class="example-container">
        <mat-drawer mode="side" opened style="background-color: blanchedalmond;width: 20%;">

            <div class="chatboxtitle">
                <h1 style="text-align: center; margin-top: 10px;">
                    CHAT BOX
                </h1>
            </div>

            <div class="messcontent">

                <P>
                    mess user text here!!
                </P>

            </div>
            <div class="inputfoForm">
                <form id="lobbyChatForm" action="">
                  <input id="lobbyChatInput" autocomplete="off" maxlength="280" placeholder="Type here" >
                </form>

                <div class="iconsend">
                    <button class="iconsend"><mat-icon aria-hidden="false" aria-label="Example home icon">send</mat-icon>
                    </button>

                </div>

            </div>

        </mat-drawer>

        <mat-drawer-content id="game-play" class="game-play" style="z-index: 1;background: #212121; background-repeat: no-repeat;background-size: cover;height: 100%;">

            <mat-toolbar-row class="button-game-play">

                <button mat-fab color="primary" id="new-game-button" (click)="Router.navigate(['playing'])">New Game</button>

            </mat-toolbar-row>
        </mat-drawer-content>

    </mat-drawer-container>
</div>
