<link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet">
<div class="welcomePage">
    <div class="Header">
        <a href="" (click)="Router.navigate(['homepage'])"  style="text-decoration: none; color: white;">
            <h1 style="font-size: 50px;" >Werewolf</h1> 
            Online
        </a>

    </div>
    <div class="playBox">
        <h1>Welcome To Werewolf Online</h1>
        <p>Please read the instruction before you play.</p>
        <p>Press play when you ready.</p>
        <button (click)="Router.navigate(['playing'])" >Create Lobby</button>
        <button (click)="openDialog()">Join</button>
    </div>
</div>
