.playBox{
    width: 700px;
    height: 350px;
    margin-top: 20px;
    background-color: #1F1F1F;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Oxanium', ;
}
h1{
    font-family: 'Trade Winds', ;
}
.Header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Trade Winds', ;
}
.welcomePage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: large;
    color: white;
    background-color: lightslategrey;
    width: 100%;
    height: 100%;
    font-family: 'Oxanium', ;
    background-image: url("http://images-eds.xboxlive.com/image?url=z951ykn43p4FqWbbFvR2Ec.8vbDhj8G2Xe7JngaTToCmRGxSzf8J4zt6ifvNWlovSX_YCMWU9mV1NBXrX3IYexni6BCA6UYz4mRdGIj15OT8PUyFLaA0QnRd_ykYiizHgpyMNrT.74pTWrHw1IqMShh2y2PzYfBJHHiX3EiHYB32LL36lM2fZ2wOU5O.kf6u");
    background-size: cover;
}
button{
    height: 100px;
    width: 200px;
    font-family: 'Oxanium', ;
    background-color: blueviolet;
    border: none;
    font-size: 40px;
    margin-top: 20px;
}
button:hover{
    opacity: 0.6;
    transition: 1.5s;
    color: white;
    font-family: 'Oxanium', ;
}