<p>playing works!</p>
<table>
    <li>
        <ul id="1">1</ul>
        <ul id="2">2</ul>
        <ul id="3">3</ul>
        <ul id="4">4</ul>
    </li>
    <li>
        <ul id="5">5</ul>
        <ul id="1">6</ul>
        <ul id="1">7</ul>
        <ul id="1">8</ul>
    </li>
    <li>
        <ul id="1">9</ul>
        <ul id="1">10</ul>
        <ul id="1">11</ul>
        <ul id="1">12</ul>
    </li>

    <li>
        <ul id="1">13</ul>
        <ul id="1">14</ul>
        <ul id="1">15</ul>
        <ul id="1">16</ul>
        <ul id="1">17</ul>
    </li>
</table>