.main {
    width: 900px;
    height: 600px;
    padding-top: 5%;
    position: fixed;
}

.exitbutton {
    padding-top: 20px;
    padding-left: 20px;
}

.table {
    background-color: brown;
    left: 20%;
    height: 50%;
    width: 80%;
    border-radius: 50%;
    margin: 0 auto;
    border: 1em solid black;
    position: absolute;
}

.seat {
    text-align: center;
    color: red;
    background-color: black;
}

#seat0 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: -7%;
    top: 36%;
    position: absolute;
}

#seat1 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 90%;
    top: 36%;
    position: absolute;
}

#seat2 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 19%;
    top: -12%;
    position: absolute;
}

#seat3 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 19%;
    top: 80%;
    position: absolute;
}

#seat4 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 60%;
    top: 80%;
    position: absolute;
}

#seat5 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 60%;
    top: -12%;
    position: absolute;
}

.example-container {
    width: 200px;
    margin: 10px;
    border: 1px solid #555;
    width: 100%;
    border-left: 2px solid #020202;
    border-right: 2px solid #020202;
    border-bottom: 2px solid #020202;
    height: 100%;
    position: fixed;
}

.game-play {
    width: 80%;
    height: 200%;
    z-index: 1;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.example-spacer {
    flex: 1 1 auto;
}

.gametime {
    height: 30px;
    width: 200px;
    color: white;
    border-left: 4px solid #020202;
    border-right: 4px solid #020202;
    border-bottom: 4px solid #020202;
    border-top: 4px solid #020202;
}