<div class="newsletter-top">
</div>
<div class="newsletter bg-beige padding-t-lg padding-b-lg">
    <div class="containerForm">
        <div class="col-xs-12 text-center">
            <h3 class="text-xl secondary-font spacing uppercase extra-bold margin-b-md">SIGN UP FOR OUR NEWSLETTER</h3>
            <form action="//rustylake.us10.list-manage.com/subscribe/post?u=8f8229d5dad990c86c357626d&amp;id=a1549f1fdc" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email address..." required="">
                <div style="position: absolute; left: -5000px;"><input type="text" name="b_8f8229d5dad990c86c357626d_a1549f1fdc" tabindex="-1" value=""></div>
                <input type="submit" value=" " name="subscribe" id="mc-embedded-subscribe">
            </form>
        </div>
    </div>
</div>
<div class="newsletter-bottom"></div>

<footer class="footer" id="footer">
    <div class="container">
        <div class="col-6 col">

            <div class="logos-line-1" style="display: flex;">
                <a target=" _blank " href="http://www.xbox.com/en-US/xbox-one "><img src="http://f13game.com/images/xbox-one.png " alt="XBOX ONE " class="xbox-one-logo"></a>
                <a target="_blank " href="https://www.playstation.com/en-us/explore/ps4/ "><img src="http://f13game.com/images/ps4.png " alt="PS4 " class="ps4-logo "></a>
                <a target="_blank " href="http://store.steampowered.com "><img src="http://f13game.com/images/steam.png " alt="Steam " class="steam-logo "></a>
            </div>

            <div class="logos-line-2 ">
                <img src="http://f13game.com/images/esrb.png " alt="ESRB " class="esrb-logo ">
                <img src="http://f13game.com/images/pegi.png " alt="PEGI " class="pegi-logo ">
            </div>

        </div>

        <div class="col-6 col footermobile ">

            <div class="social-icons ">
                <a target="_blank " href="https://www.facebook.com/Fridaythe13thGame/ "><img src="http://f13game.com/images/facebook.png " class="facebook-icon social " alt="Facebook "></a>
                <a target="_blank " href="https://twitter.com/Friday13thGame "><img src="http://f13game.com/images/twitter.png " class="twitter-icon social " alt="Twitter "></a>
                <a target="_blank " href="http://forum.f13game.com/ "><img src="http://f13game.com/images/chat.png " class="chat-icon social " alt="Chat "></a>
                <a target="_blank " href="http://discord.gg/FridayThe13thGame "><img src="http://f13game.com/images/discord.png " class="discord-icon social " alt="Discord "></a>
                <a target="_blank " href="https://www.reddit.com/r/F13thegame/ "><img src="http://f13game.com/images/reddit.png " class="reddit-icon social " alt="Reddit "></a>
                <a target="_blank " href="https://www.twitch.tv/directory/game/Friday%20the%2013th:%20The%20Game "><img src="http://f13game.com/images/twitch.png " class="twitch-icon social " alt="Twitch " style="margin-right:0; ">
                </a>
            </div>
            <a target="_blank" href="https://www.twitch.tv/directory/game/Friday%20the%2013th:%20The%20Game">
                <div class="legalcopy">

                    <a target="_blank " href="https://www.twitch.tv/directory/game/Friday%20the%2013th:%20The%20Game ">

                        <div class="legalcopy ">

                            <p>FRIDAY THE 13TH and all related characters and elements are trademarks of and © New Line Productions, Inc. and Horror, Inc. (each to the extent of their interest).</p>
                            <p>© 2017 Gun Media Holdings, Inc. All Rights Reserved. Gun Media<sup>TM</sup> and the Gun Media<sup>TM</sup> logo are trademarks and/or registered trademarks of Gun Media Holdings, Inc. throughout the world. IllFonic<sup>TM</sup>                                and the IllFonic<sup>TM</sup> logo are trademarks and/or registered trademarks of IllFonic, LLC throughout the world.</p>
                        </div>
                    </a>
                    <div class="footerlinks ">
                        <a target="_blank " href="https://www.twitch.tv/directory/game/Friday%20the%2013th:%20The%20Game ">
                        </a>
                        <p>
                            <a target="_blank " href="https://www.twitch.tv/directory/game/Friday%20the%2013th:%20The%20Game "></a><a href="/terms-of-use ">Gun Media Terms of Use</a> | <a href="/privacy-policy ">Privacy Policy</a> <br> <a href="/f13game-tou
                ">Friday the 13th: The Game Terms of Use</a> | <a href="/code-of-conduct ">Code of Conduct</a> <br> <a href="/eula ">End User Licence Agreement</a> | <a href="mailto:f13game@fearthegun.com ">f13game[at]fearthegun.com</a></p>

                    </div>

                </div>
                </a></div></div></footer>