<link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
<mat-accordion>

    <!-- Phe Thiện -->

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> <h1> Dân Làng (Villager) </h1></mat-panel-title>

        </mat-expansion-panel-header>
        <div class="Manual">
            <p class="textContent">
                Bạn là một dân làng bình thường và không có khả năng gì đặc biệt.
            </p>

            <div class="imagecharacters ">
                <img src="../../../assets/dân làng.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> <h1> Xạ Thủ (Hunter) </h1></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="Manual">
            <p class="textContent">
                Bạn có 2 viên đạn để xử tử kẻ khác.Vì tiếng súng rât lớn nên vai trò của bạn sẽ lộ ra sau phát súng đầu tiên. <br>
            </p>

            <div class="imagecharacters ">

                <img src="../../../assets/xạ thủ.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> <h1> Tiên Tri (Seer) </h1></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="Manual">
            <p class="textContent">
                Mỗi đêm bạn có thể xem vai trò của người chơi khác.
            </p>
            <div class="imagecharacters ">
                <img src="../../../assets/tiên tri.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> <h1> Bảo Vệ (Bodyguard) </h1></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="Manual">
            <p class="textContent">
                Chọn một người chơi để bảo vệ mỗi đêm. Người chơi không thể bị giết vào đêm đó, thay vào đó bạn sẽ bị tấn công thay người đó. Vì bạn rất khỏe nên sẽ không thể bị chết trong lần tấn công đầu tiên nhưng sẽ chết trong lần tấn công thứ hai.
            </p>
            <div class="imagecharacters ">
                <img src="../../../assets/bảo vệ.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> <h1> Thầy Đồng (Medium) </h1></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="Manual">
            <p class="textContent">
                Vào ban đêm bạn có thể nói chuyện ẩn danh với người chết. Bạn có 1 lần hồi sinh người khác.
            </p>
            <div class="imagecharacters ">
                <img src="../../../assets/thầy đồng.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> <h1> Phù Thủy (Witch) </h1></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="Manual">
            <p class="textContent">
                Bạn có 2 bình thuốc: Một bình dùng để giết và bình kia để bảo vệ người chơi. Bình bảo vệ chỉ được tiêu thụ nếu người chơi đó bị tấn công.Bạn không thể giết trong đêm đầu tiên.
            </p>
            <div class="imagecharacters ">
                <img src="../../../assets/phu thuy.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> <h1> Thần Tình Yêu (Cupid) </h1></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="Manual">
            <p class="textContent">
                Trong đêm đầu tiên bạn có thể chọn hai người chơi đề họ làm tình nhân của nhau(Bạn có thể ghép đôi chính mình và một người chơi khác).Nếu một trong 2 người là sói ,cả hai sẽ trở thành phe thứ ba và sẽ thắng nếu cả 2 còn sống sót đến cuối cùng.Một trong
                hai chết thì cả hai cùng chết.
            </p>
            <div class="imagecharacters ">
                <img src="../../../assets/thần tình yêu.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>


    <!-- Phe Ác -->

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> <h1> Ma Sói ( Werewolf) </h1></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="Manual">
            <p class="textContent">
                Chọn một người để giết mỗi đêm.
            </p>
            <div class="imagecharacters ">
                <img src="../../../assets/ma sói.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>

    <!-- Phe Thứ 3 -->


    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title> <h1> Thằng Khờ (Fool) </h1></mat-panel-title>
        </mat-expansion-panel-header>
        <div class="Manual">
            <p class="textContent">
                Bạn phải lừa dân làng treo cổ bạn. Nếu họ treo cổ bạn, bạn thắng. <br>
            </p>
            <div class="imagecharacters ">
                <img src="../../../assets/thằng khờ.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>



</mat-accordion>