.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.imagecharacters {
    width: 50px;
    float: right;
}

.mat-accordion {
    width: 100%;
    background-color: black;
}
.Manual{
    max-width: 80%;
    justify-content: space-between;
    display: flex;
    font-size: 20px;
}
// img{
//     height: 60%;
//     width: 10%;
// }