<mat-accordion>

    <!-- Phe Thiện -->

    <mat-expansion-panel style="background-color: darkred;">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Dân Làng (Villager)
            </mat-panel-title>

        </mat-expansion-panel-header>
        <div>
            <p>
                Bạn là một dân làng bình thường và không có khả năng gì đặc biệt.

            </p>

            <div class="imagecharacters ">
                <img src="../../../assets/dân làng.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>
    <mat-expansion-panel style="background-color: darkorange; ">
        <mat-expansion-panel-header>
            <mat-panel-title> Xạ Thủ (Hunter) </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="display: flex; ">
            <p>
                Bạn có 2 viên đạn để xử tử kẻ khác.Vì tiếng súng rât lớn nên vai trò của bạn sẽ lộ ra sau phát súng đầu tiên. <br>
            </p>

            <div class="imagecharacters ">

                <img src="../../../assets/xạ thủ.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>
    <mat-expansion-panel style="background-color: cyan; ">
        <mat-expansion-panel-header>
            <mat-panel-title> Tiên Tri (Seer) </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="display: flex; ">
            <p>
                Mỗi đêm bạn có thể xem vai trò của người chơi khác.
            </p>
            <div class="imagecharacters ">
                <img src="../../../assets/tiên tri.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>
    <mat-expansion-panel style="background-color: blue; ">
        <mat-expansion-panel-header>
            <mat-panel-title> Bảo Vệ (Bodyguard) </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="display: table-row-group ">
            <p>
                Chọn một người chơi để bảo vệ mỗi đêm. Người chơi không thể bị giết vào đêm đó, thay vào đó bạn sẽ bị tấn công thay người đó. Vì bạn rất khỏe nên sẽ không thể bị chết trong lần tấn công đầu tiên nhưng sẽ chết trong lần tấn công thứ hai.
            </p>
            <div class="imagecharacters ">
                <img src="../../../assets/bảo vệ.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>

    <mat-expansion-panel style="background-color: deeppink; ">
        <mat-expansion-panel-header>
            <mat-panel-title> Thầy Đồng (Paranormal Investigater) </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="display: flex; ">
            <p>
                Vào ban đêm bạn có thể nói chuyện ẩn danh với người chết. Bạn có 1 lần hồi sinh người khác.
            </p>
            <div class="imagecharacters ">
                <img src="../../../assets/thầy đồng.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>
    <mat-expansion-panel style="background-color: fuchsia; ">
        <mat-expansion-panel-header>
            <mat-panel-title> Phù Thủy (Witch) </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="display: table-row-group; ">
            <p>
                Bạn có 2 bình thuốc: Một bình dùng để giết và bình kia để bảo vệ người chơi. Bình bảo vệ chỉ được tiêu thụ nếu người chơi đó bị tấn công.Bạn không thể giết trong đêm đầu tiên.
            </p>
            <div class="imagecharacters ">
                <img src="../../../assets/phu thuy.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>
    <mat-expansion-panel style="background-color: pink; ">
        <mat-expansion-panel-header>
            <mat-panel-title> Thần Tình Yêu (Cupid) </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="display: table-row-group; ">
            <p>
                Trong đêm đầu tiên bạn có thể chọn hai người chơi đề họ làm tình nhân của nhau(Bạn có thể ghép đôi chính mình và một người chơi khác).Nếu một trong 2 người là sói ,cả hai sẽ trở thành phe thứ ba và sẽ thắng nếu cả 2 còn sống sót đến cuối cùng.Một trong
                hai chết thì cả hai cùng chết.
            </p>
            <div class="imagecharacters ">
                <img src="../../../assets/thần tình yêu.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>


    <!-- Phe Ác -->

    <mat-expansion-panel style="background-color: tomato; ">
        <mat-expansion-panel-header>
            <mat-panel-title> Ma Sói ( Werewolf) </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="display: flex; ">
            <p>
                Chọn một người để giết mỗi đêm.
            </p>
            <div class="imagecharacters ">
                <img src="../../../assets/ma sói.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>

    <!-- Phe Thứ 3 -->


    <mat-expansion-panel style="background-color: teal; ">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h1>Thằng Khờ (Fool)</h1>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div style="display: flex; ">
            <p>
                Bạn phải lừa dân làng treo cổ bạn. Nếu họ treo cổ bạn, bạn thắng. <br>
            </p>
            <div class="imagecharacters ">
                <img src="../../../assets/thằng khờ.jpg " alt="danlang ">
            </div>
        </div>

    </mat-expansion-panel>



</mat-accordion>