<mat-tab-group mat-align-tabs="center" id="login">
    <!-- Log In -->

    <mat-tab label="Log In" id="login">
        <form class="example-form">
            <!-- Input Email -->
            <mat-form-field class="example-full-width">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <!-- Inpput Password -->
            <mat-form-field class="example-full-width">
                <mat-label>Enter your password</mat-label>
                <input matInput placeholder="password" [formControl]="password" required type='password'>
                <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
            </mat-form-field>
            <!-- Log In Button -->
            <div class="example-button-row">
                <button mat-raised-button color="primary" *ngIf="isLogIn" (click)="LogIn()">Log In</button>
                <!-- <button mat-raised-button (click)="loginwithGG()" >Login With Google</button> -->
                <div class="example-button-row">
                    <!-- <span class="buttonText" (click)="loginwithGG()"> <img src="https://developers-dot-devsite-v2-prod.appspot.com/identity/sign-in/g-normal.png" alt="ad">Sign in with Google</span> -->
                    <button mat-raised-button color="basic" (click)="loginwithGG()"><img src="https://developers-dot-devsite-v2-prod.appspot.com/identity/sign-in/g-normal.png" alt="ad">Sign in with Google</button>
                </div>
            </div>
        </form>
    </mat-tab>

    <!-- Sign Up -->

    <mat-tab label="Sign Up ">
        <form class="example-form ">
            <!-- Input Email -->
            <mat-form-field class="example-full-width ">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com " [formControl]="email " required>
                <mat-error *ngIf="email.invalid ">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <!-- Inpput Password -->
            <mat-form-field class="example-full-width ">
                <mat-label>Enter your password</mat-label>
                <input matInput placeholder="password " [formControl]="password " required type='password'>
                <mat-error *ngIf="password.invalid ">{{getPasswordError()}}</mat-error>
            </mat-form-field>
            <!-- Input Retype Password -->
            <mat-form-field class="example-full-width ">
                <mat-label>Enter your password again</mat-label>
                <input matInput placeholder="retype password " [formControl]="retypePassword " required type='password'>
                <mat-error *ngIf="retypePassword.invalid ">{{getRetypePasswordError()}}</mat-error>
            </mat-form-field>
            <!--Sign Up Button -->
            <div class="example-button-row ">
                <button mat-raised-button color="primary " *ngIf="isSignUp " (click)="signUp() ">Sign Up</button>
            </div>
        </form>
    </mat-tab>
    <button mat-raised-button (click)="Router.navigate([ 'game-play']) "> as guest</button>
</mat-tab-group>