.example-container {
    width: 100%;
    height: 100%;
}

.messcontent {

    width: 98%;
    height: 75%;
    border-left: 2px solid #020202;
    border-right: 2px solid #020202;
    border-bottom: 2px solid #020202;
    border-top: 2px solid #020202;
    font-family: 'Oxanium', ;
    
}
.inputform {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-family: 'Oxanium', ;
}
#lobbyChatInput{
    width: 85%;
    height: 30px;
    font-size: 20px;
}
.fullcreen1 {
    width: 100%;
    height: 100%;
}
.playingField{
    background-image: url("http://seasonchristmas.com/images/christmas/christmas-282.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.Player {
    width: 120px;
    height: 150px;
  }

.avatarPlayer {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.Top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 33%;
    width: 100%;
}
.Middle{
    // margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 33%;
}
.Bottom{
    // margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 33%;
}
.Exit{
    justify-content: center;
    text-align: center;
    display: flex;
    font-family: 'Oxanium', ;
    margin-top: 10px ;
    width: auto;
    height: 50px;
}
button{
    font-family: 'Oxanium', ;
    font-size: 20px;
}
input{
    font-family: 'Oxanium', ;
}
.roomID{
    font-family: 'Oxanium', ;
    font-size: 20px;
}