<link href="https://fonts.googleapis.com/css?family=Lemonada&display=swap" rel="stylesheet">

<mat-toolbar class="nav-bar " id="container">
    <mat-toolbar-row>
        <a href="#title"><img class="icon" id="icon" src="../../../assets/WereWolfIcon.webp"></a>
        <span id="title" class="title">WEREWOLF</span>

        <span class="spacer"></span>


        <a mat-button color="warn" id="contact" href="#footer">Contact</a>
        <button mat-button color="warn" id="instruction">Instruction</button>
        <a button mat-button color="warn" id="account" href="#login">Account</a>
        <button mat-fab color="warn" id="avatar">Avatar</button>

    </mat-toolbar-row>
</mat-toolbar>