.iconhomepage {
    width: 50px;
    max-width: 45px;
    height: 50px;
    max-height: 45px;
}

.iconChange {
    width: 40px;
    height: 40px;
    max-height: 50px;
    transition: 0.5s;
}

.title {
    font-family: 'Trade Winds', ;
    font-size: 50px;
    color: white;
    transition: 0.5s;
}

.titleChange {
    font-family: 'Trade Winds', ;
    font-size: 30px;
    color: white;
    transition: 0.5s;
}

.nav-bar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    transition: 1.5s;
    scroll-behavior: smooth;
    z-index: 2;
}

.navbarChange {
    margin: 0 auto;
    position: fixed;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: black;
    transition: 1.5s;
    scroll-behavior: smooth;
    z-index: 2;
}

.spacer {
    flex: 1 1 auto;
}

button {
    height: 200px;
    font-size: 15px;
    font-weight: 800;
    color: whitesmoke;
    height: 50px;
    font-family: 'Oxanium', ;
    flex: auto;
}

.InstructionButton:hover {
    color: blueviolet;
}

.ConstactButton:hover {
    color: blueviolet;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: blueviolet;
}

.spacer {
    flex: 1 1 auto;
}

.material-icons {
    text-align: center;
    width: 50px;
}