.icon {
    width: 70px;
    height: 70px;
    transition: 0.5s;
}

.iconChange {
    width: 50px;
    height: 50px;
    transition: 0.5s;
}

.title {
    font-family: 'Lemonada', cursive;
    font-size: 50px;
    color: white;
    transition: 0.5s;
}

.titleChange {
    font-family: 'Lemonada', cursive;
    font-size: 30px;
    color: white;
    transition: 0.5s;
}

.nav-bar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    transition: 1.5s;
    scroll-behavior: smooth;
}

.navbarChange {
    margin: 0 auto;
    position: fixed;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: black;
    transition: 1.5s;
    scroll-behavior: smooth;
    z-index: 2;
}

.spacer {
    flex: 1 1 auto;
}

button {
    font-size: 15px;
    font-weight: 800;
    color: whitesmoke;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    flex: auto;
}

.AccountButton {
    background-color: red;
    scroll-behavior: smooth;
}

.AccountButton:hover {
    background: repeating-linear-gradient( to right, rgba(255, 174, 0, 0.788), rgb(255, 208, 0));
    color: white;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.InstructionButton:hover {
    color: red;
}

.ConstactButton:hover {
    color: red;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: red;
}